API_BASE_URL=
SESSION_SECRET=
E2E_ADMIN_EMAIL=
E2E_ADMIN_PASSWORD=
E2E_USER_EMAIL=
E2E_USER_PASSWORD=
E2E_ADMIN_JOB_ROLE_ID=
E2E_APPLICATION_JOB_ROLE_ID=
E2E_EMPTY_APPLICATION_JOB_ROLE_ID=
E2E_JWT_SECRET=
