
{% extends "layouts/base.njk" %}

{% block title %}Home{% endblock %}

{% block content %}
  <section class="kainos-hero">
    <h1 class="govuk-heading-xl kainos-hero__title">Find your next role at Kainos</h1>
    <p class="kainos-hero__lead">
      We build digital services that make a difference. Browse the roles we are
      currently hiring for and find where you fit in.
    </p>
    <a class="kainos-button" href="/job-roles">View job roles</a>
  </section>
{% endblock %}
