{% extends "layouts/base.njk" %}

{% block title %}Job roles{% endblock %}

{% block content %}
  <div class="kainos-page-banner">
    <h1 class="govuk-heading-l kainos-page-banner__title">Job roles</h1>
    <p class="kainos-page-banner__count">{{ jobRoles.length }} roles found</p>
  </div>

  {% if jobRoles.length > 0 %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Role</th>
          <th scope="col" class="govuk-table__header">Location</th>
          <th scope="col" class="govuk-table__header">Capability</th>
          <th scope="col" class="govuk-table__header">Band</th>
          <th scope="col" class="govuk-table__header">Closing date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for jobRole in jobRoles %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">{{ jobRole.roleName }}</th>
            <td class="govuk-table__cell">{{ jobRole.location }}</td>
            <td class="govuk-table__cell">{{ jobRole.capability}}</td>
            <td class="govuk-table__cell">{{ jobRole.band}}</td>
            <td class="govuk-table__cell">{{ jobRole.closingDate | formatDate }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="govuk-body">There are no job roles available at the moment.</p>
  {% endif %}
{% endblock %}
