{% extends "layouts/base.njk" %}
{% import "partials/formMacros.njk" as form %}

{% block title %}Log in{% endblock %}

{% block banner %}
  <div class="kainos-page-banner">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-l kainos-page-banner__title">Log in</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row kainos-form-row">
    <div class="govuk-grid-column-one-half">
      <div class="kainos-auth-error-summary">
        {{ form.errorSummary(errorList) }}
      </div>

      {# This action waits for the login endpoint in the API. #}
      <form class="kainos-form kainos-auth-form" method="post" action="/login" novalidate>
        {{ form.textInput("email", "Email address", values.email, errors.email, "email", autocomplete = "email") }}
        {{ form.textInput("password", "Password", "", errors.password, "password", autocomplete = "current-password") }}

        <button class="kainos-button kainos-form__submit" type="submit">Log in</button>

        <p class="govuk-body govuk-!-text-align-right govuk-!-margin-bottom-0 kainos-form__supporting-text">
          Do not have an account? <a class="govuk-link kainos-link" href="/register">Register</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
