{% extends "layouts/base.njk" %}

{% block title %}My Profile{% endblock %}

{% block content %}
  <div class="govuk-grid-row kainos-form-row">
    <div class="govuk-grid-column-two-thirds govuk-!-text-align-centre">
      <h1 class="govuk-heading-xl" data-auth-greeting>Hello</h1>
    </div>
  </div>
{% endblock %}
