<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

<header class="kainos-header" role="banner">
  <div class="kainos-header__container govuk-width-container">
    <a class="kainos-header__logo" href="/">
      <img src="/images/kainos-logo.png" alt="Kainos" width="120" height="37" />
    </a>
    <nav class="kainos-header__nav" aria-label="Main navigation">
      <a class="kainos-header__link" href="/">Home</a>
      <a class="kainos-header__link" href="/job-roles">Job roles</a>
    </nav>
  </div>
</header>
